@font-face {
  font-family: dds;
  src: url(dds.ttf);
}
@font-face {
  font-family: dig7;
  src: url(dig7.ttf);
}

* {
margin: 0;
padding: 0;
color: #E34C3D;
max-width: 100%;
}
body {
  background-color: #1D253E;
}
h1, h2, h3 {
  font-family: dds;
}
p, a {
    font-family: dig7;
}
 @media only screen and (max-width: 320px) {
nav ul {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-color: #00496f;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 2rem;
}
nav ul li:hover {
  color: orange;
}
section .personalia {
  width: 100vw;
  max-width: 100%;
}
.personalia h1 {
  text-align: center;
  font-size: 3rem;
  font-family: dds;
}
.personalia h2 {
  text-align: center;
  font-size: 2rem;
  font-family: dds;
}
.watney {
  width: 100vw;
  display: flex;
  flex-flow: row;
  max-height: 25vh;
}
img {
   max-width: 40%;
   max-height: 40%;
}
.watney p {
  width: 40%;
}
.eta {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact {
  display: flex;
  flex-flow: row;
  width: 100vw;
  justify-content: space-around;
  font-size: 2rem;
}
.contact img {
  width: 50px;
}
#timer {
  font-size: 3.5rem;
}
 }
